doctype html
html(lang="ja")
    head 
        meta(charset="UTF-8")
        title  Secret discussion board 
    body 
        h1 Secret Discussion Board
        a(href="/logout") Log out  
        h2 New Post
        form(method="post" action="/posts")
            div
                textarea(name="content", cols="40", rows="4")
            div
                button(type="submit")  Post
                
        h2 Posts 
        each post in posts 
            h3 #{post.id} : ID: #{post.trackingCookie}
            p #{post.content}
            p #{post.createdAt}
            hr