extends layout

block content
  h1= title
  p Welcome to #{title}
  if user
    p Hello, #{user.username}
    a(href="/logout") Logout
  else
    a(href="/login") Login
  div#block.block 
  button#scailing-button 拡大縮小 
  button#move-button 動かす 
  div#root